:root {
  --b-Popover-min-width: calc(var(--b-space) * 15);
  --b-Popover-min-width-m: calc(var(--b-space) * 19);
  --b-Popover-min-width-l: calc(var(--b-space) * 24);
  --b-Popover-max-height: calc(var(--b-space) * 26);
}
