.b-Table {
  display: grid;
  grid-template-columns: var(--b-Table-columns);
  margin: 0;
}

.b-Table-body,
.b-Table-row,
.b-Table-head {
  display: contents;
}

.b-Table-heading {
  align-items: center;
  border-bottom: var(--b-border-width-s) solid var(--b-surface-0-border);
  display: flex;
  font-weight: var(--b-font-weight-strong);
  padding: 0 var(--b-space-l) var(--b-space-s) 0;
  text-align: left;
}

.b-Table-heading-sort {
  height: var(--b-Icon-size-s);
  margin-right: var(--b-space);
  position: relative;
  width: var(--b-Icon-size-s);

  .b-Icon {
    inset: 0;
    position: absolute;
  }

  .b-Icon--select {
    color: var(--b-text-50);
  }

  .b-Icon--selectAsc,
  .b-Icon--selectDesc {
    color: var(--b-primary);
  }

  &.is-sorted {
    .b-Icon--select {
      opacity: 0.5;
    }
  }
}

/* ======
 * Table Cell
 * ====== */

.b-Table-cell {
  align-items: flex-start;
  border-bottom: var(--b-border-width-s) solid var(--b-surface-0-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--b-space-s) var(--b-space-l) var(--b-space-s) 0;
  width: 100%;

  > *:not(.b-Table-cell-content) {
    margin: 0;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}

/* ======
 * Table Custom Cells
 * ====== */

.b-Table-cell-content {
  display: block;

  &:not(:last-child) {
    margin-bottom: var(--b-space);
  }
}

// Should be deprecated asap
.b-Table-cell-content--buttons {
  align-items: center;
  display: flex;

  > *,
  > span > * {
    margin-bottom: 0 !important;
  }

  > .b-Buttons {
    flex-wrap: nowrap;

    &:not(:only-child) {
      margin-left: var(--b-space-s);
    }
  }
}

/* ======
 * Variants
 * ====== */

.b-Table {
  &.-column\:align\:last\:end {
    .b-Table-cell {
      &:last-child {
        align-items: flex-end;
        text-align: right;
      }
    }

    .b-Table-heading {
      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  &.-border\:0 {
    .b-Table-cell {
      border-bottom: 0;
      padding-bottom: var(--b-space-s);
      padding-top: var(--b-space-s);
    }

    .b-Table-row {
      &:first-child {
        .b-Table-cell {
          padding-top: var(--b-space-m);
        }
      }
    }
  }
}
