@use '../config' as *;
@use 'utility' as *;
@use 'mq' as *;

// ======
// Heading sizes & styles
// ======

@mixin headingMargin() {
  margin: 0 0 var(--b-space-xs);
}

@mixin heading($size: null, $base: true, $margin: true) {
  @if $base {
    color: var(--b-text-heading);
    font-family: inherit;
    font-weight: var(--b-font-weight-heading);
  }

  @if $margin and $size != 'h1' {
    @include headingMargin();
  }

  @if $size == 'h1' {
    @if $margin {
      margin: 0 0 var(--b-space) 0;
    }
    font-size: var(--b-font-size-3xl);
    line-height: var(--b-line-height-3xl);

    @include mq(m) {
      font-size: var(--b-font-size-4xl);
      line-height: var(--b-line-height-4xl);
    }
  }

  @if $size == 'h2' {
    font-size: var(--b-font-size-2xl);
    line-height: var(--b-line-height-2xl);

    @include mq(m) {
      font-size: var(--b-font-size-3xl);
      line-height: var(--b-line-height-3xl);
    }
  }

  @if $size == 'h3' {
    font-size: var(--b-font-size-xl);
    line-height: var(--b-line-height-xl);

    @include mq(m) {
      font-size: var(--b-font-size-2xl);
      line-height: var(--b-line-height-2xl);
    }
  }

  @if $size == 'h4' {
    font-size: var(--b-font-size-l);
    line-height: var(--b-line-height-l);

    @include mq(m) {
      font-size: var(--b-font-size-xl);
      line-height: var(--b-line-height-xl);
    }
  }

  @if $size == 'h5' {
    font-size: var(--b-font-size-l);
    line-height: var(--b-line-height-l);

    @include mq($until: m) {
      font-size: var(--b-font-size);
      line-height: var(--b-line-height);
    }
  }

  @if $size == 'h6' {
    font-size: var(--b-font-size-s);
    font-weight: var(--b-font-weight-strong);
    line-height: var(--b-line-height-s);
  }
}

@mixin headingReset($important: null) {
  $important: if($important, !important, null);
  font-size: var(--b-font-size) $important;
  font-weight: var(--b-font-weight) $important;
  letter-spacing: unset $important;
  line-height: var(--b-line-height) $important;
  margin: 0 $important;
  text-transform: unset $important;
}
