@mixin positionAbsoluteFill($important: null, $offset: 0) {
  @if $important { $important: !important; }

  bottom: $offset $important;
  left: $offset $important;
  position: absolute $important;
  right: $offset $important;
  top: $offset $important;
}
