:root {
  --b-Avatar-size-2xl: var(--b-space-2xl);
  --b-Avatar-size-xl: var(--b-space-xl);
  --b-Avatar-size-l: var(--b-space-l);
  --b-Avatar-size-ml: var(--b-space-ml);
  --b-Avatar-size-m: var(--b-space-m);
  --b-Avatar-size-s: var(--b-space-ms);
  --b-Avatar-size-xs: 14px;
}
